/* Add this to your style.css */

html,
body { 
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body { 
   flex: 1;
} 

main {
    flex: 1;
}
