/* Add this to your style.css */

html,
body { 
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("/static/background.jpg");
    background-size: cover;       /* Ensure the image covers the entire page */
    background-position: center;  /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; 
}

main {
    flex: 1;
    overflow-y: auto;
}
#header {
    flex-shrink: 0;
    padding: 20px;
}
#footer {
    flex-shrink: 0;
}